/* You can add global styles to this file, and also import other style files */
/* color pallette:
#6C9A8B
#E8998D
#EED2CC
#FBF7F4
#A1683A
*/
$color-brand-primary: #6C9A8B;
$color-brand-secondary: #EED2CC;
$color-brand-tertiary: #A1683A;

$color-canvas: #FBF7F4;

$color-text: #333;
$color-text-inverted: #FBF7F4;

$color-button: #e6a298;
$color-button-hover: #e68071;

@font-face {
    font-family: Agdasima;
    src: url('@/assets//fonts/Agdasima-Regular.ttf');
}

* {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14pt;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: $color-canvas;
    color: $color-text;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    color: #A1683A;
}


.btn {
    background-color: $color-button;
    border: none;
    padding: 12px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    color: $color-text;
}

.btn svg {
    color: white;
    fill: white;
    width: 20px;
    height: 20px;
}

.btn:hover {
    background-color: $color-button-hover;
    color: $color-text-inverted;
}